<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".pdf" mimeType="application/pdf" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
        </staticContent>
        <handlers>
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        </handlers>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".pdf" allowed="true" />
                    <add fileExtension=".js" allowed="true" />
                    <add fileExtension=".css" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <!-- Disable rewrite rules that redirect to index.html -->
        <rewrite>
            <rules>
                <clear />
            </rules>
        </rewrite>
    </system.webServer>
</configuration>